#container {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.navigation {
  display: inline-Block;
  margin-left: 15px;
  float: right;
  clear: right;
  position: relative;
  justify-content: flex-end;
}

a {
  color: black;
}

#header {
  color: MediumAquamarine;
  display: inline;
}
